node_modules
dist
build
out
.vite

.env
.env.*
!.env.example

# Config local de la app
settings.json
settings.local.json
local.config.json

# Electron local data
userData/

*.log

data/
storage/
*.sqlite
*.db

# Electron
release/
.cache/

# claves/identidades locales
*.key
*.pem
identity.json
friends.local.json
transfers.local.json